@import "./fonts.scss";
@import "variables";

:root {
    --background-color: #ffff;
    --background-color-2: #ffff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Ultra";
}

p {
    font-family: "Open Sans";
}

a {
    font-family: "Open Sans Semibold";
}
